.center {
  width: 33%;
  margin: 0 auto;
  padding-top: 5%;
}

.center.pt15 {
  padding-top: 15%;
  vertical-align: middle;
}

.input-group {
  margin-top: 1em;
  margin-bottom: 1em;
}

.center button {
  width: 100%;
}

.ghu-row {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ghu-col {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.ghu-row:nth-child(even) {
  background-color: #ddd;
}

.ghu-col.right {
  align-items: flex-end;
}

#usersTable {
  width: 33%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid #ccc;
}

.errors {
  color: red;
}