<div class="center" [class.pt15]="!usersSearched">
  <div class="input-group flex-nowrap">
    <span class="input-group-text" id="addon-wrapping"><i class="fa-solid fa-magnifying-glass"></i></span>
    <input type="text" [(ngModel)]="query" class="form-control" placeholder="Github's username" aria-label="Username" aria-describedby="addon-wrapping">
  </div>
  <button type="button" class="btn btn-primary" (click)="search()">Search</button>
</div>

@if (usersSearched) {
<div id="usersTable">
  @for (user of githubUsers; track user.login) {
    <div class="ghu-row">
      <div class="ghu-col left">{{ user.login }}</div>
      <div class="ghu-col right">{{ user.id }}</div>
    </div>
  }
</div>
}